/*------------------------------------*\
  Summary
  P13-confirmacion-de-informacion-e-impresion-de-contrato
  Type: List
\*------------------------------------*/

.ay-summary {
  @include flexbox();
  @include flex-wrap(wrap);
  padding-bottom: 4px;
}

.ay-summary__list {
  @include flex(1 50%);
  padding-bottom: 10px;
  &.ay-summary__list_one-third {
    @include flex(1 33.33%);
    max-width: 33.33%;
  }
}

.ay-summary__def {
  @include font-rem(16px);
}
