//*------------------------------------*\
  //Variables gutter (margin - padding)
//*------------------------------------*/

$gutter-xxs  : 6px;
$gutter-xs   : 14px; ///row form
$gutter-block: 16px;
$gutter-s    : 20px;
$gutter-m    : 40px;
$gutter-ml   : 60px;
$gutter-l    : 80px;
$gutter-xl   : 100px;
$gutter-xxl  : 120px;

