//*------------------------------------*\
    //Variables Breakpoint
//*------------------------------------*/

$bp-small: 375px;

$bp-small-m: 480px;

$bp-medium: 768px;

$bp-wide: 1024px;

$bp-large: 1180px;

$bp-big: 1280px;

$bp-huge: 1440px;
