/*------------------------------------*\
	Transversal Elements
    #Styles for multimedia content
    (images, audio and video)
\*------------------------------------*/
.ay-page {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

.ay-img {
  width: 100%;
  vertical-align: bottom;
}

